<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}PHẦN MỀM QUẢN LÝ THÔNG TIN CÁN BỘ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/sub-table.css' %}" rel="stylesheet">
</head>

<body>

<!-- NAVBAR TRÊN -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- NÚT TOGGLE -->
        <button class="btn btn-outline-light me-2" id="menu-toggle">☰</button>

        <a class="navbar-brand" href="{% url 'employee:index' %}">QUẢN LÝ THÔNG TIN CÁN BỘ</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'employee:index' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Xin chào {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Đăng xuất</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- WRAPPER -->
<div class="d-flex" id="wrapper">

    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
        <div class="sidebar-heading">MENU</div>

            <div class="list-group list-group-flush">

            <!-- Trang chủ -->
            <a href="{% url 'employee:index' %}" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-house"></i>
                Trang chủ
            </a>

            <!-- QUẢN LÝ CÁN BỘ (Cấp 1) -->
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                href="#menu-qlcb"
                role="button"
                aria-expanded="false"
                aria-controls="menu-qlcb">
                <i class="fa-solid fa-user"></i>Quản lý cán bộ
                <span class="ms-2">▾</span>
            </a>

            <!-- Cấp 2 -->
            <div class="collapse" id="menu-qlcb">
                <a href="{% url 'employee:index' %}"
                class="list-group-item list-group-item-action ps-4">
                <i class="fa-solid fa-users me-2"></i> Quản lý cán bộ
                </a>

                <a href="{% url 'employee:index_emp_tile' %}"
                class="list-group-item list-group-item-action ps-4">
                <i class="fa-solid fa-user-plus"></i> Quản lý chức danh cán bộ
                </a>

                <a href="{% url 'employee:index_emp_position' %}"
                class="list-group-item list-group-item-action ps-4">
                <i class="fa-solid fa-users me-2"></i> Quy hoạch chức danh cán bộ
                </a>
            </div>

            <!-- THỐNG KÊ - BÁO CÁO (Cấp 1) -->
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                href="#menu-report"
                role="button"
                aria-expanded="false"
                aria-controls="menu-report">
                <i class="fa-solid fa-chart-line"></i>
                Thống kê - Báo cáo
                <span class="ms-2">▾</span>
            </a>

            <!-- Cấp 2 -->
            <div class="collapse" id="menu-report">
                <a href="#"
                class="list-group-item list-group-item-action ps-4">
                • Thống kê CBCS
                </a>

                <a href="#"
                class="list-group-item list-group-item-action ps-4">
                • (Báo cáo theo phòng ban…)
                </a>
            </div>

            <!-- Cài đặt -->
            <a href="#" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-gear"></i>
                Cài đặt
            </a>

            </div>
    </div>


    <!-- PAGE CONTENT -->
    <div id="page-content-wrapper" class="flex-grow-1 w-100">
        <div class="container-fluid px-0 w-100 ">
            {% block content %}
            {% endblock %}
        </div>
        <!-- GLOBAL MODAL (DÙNG CHUNG TOÀN HỆ THỐNG) -->
            <div class="modal fade" id="appModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title" id="appModalTitle"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body" id="appModalBody">
                            <div class="p-3">Đang tải...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="appSubModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title" id="appSubModalTitle"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                    <div class="modal-body" id="appSubModalBody"></div>
                    </div>
                </div>
            </div>
</div>

<!-- JS nền tảng -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/search-panel.js' %}"></script>

<!-- 0) INIT ModalHooks -->
<script src="{% static 'hooks/modal-hooks-init.js' %}"></script>

<!-- 1) CORE modal -->
<script src="{% static 'js/core/app-modal.js' %}"></script>
<script src="{% static 'js/core/app-sub-modal.js' %}"></script>

<!-- 2) HOOK điều khiển modal / submit -->
<script src="{% static 'hooks/app-modal.js' %}"></script>
<script src="{% static 'hooks/app-modal-form.js' %}"></script>
<script src="{% static 'hooks/app-submodal-form.js' %}"></script>

<!-- 3) HOOK dùng chung -->
<script src="{% static 'hooks/enhance-file-field.js' %}"></script>
<script src="{% static 'hooks/common/lookup-employee.js' %}"></script>

<!-- 4) FACTORY + PRESET -->
<script src="{% static 'hooks/emp-entity-manage.factory.js' %}"></script>
<script src="{% static 'hooks/emp-entity-presets.js' %}"></script>

<!-- 5) HOOK NGHIỆP VỤ -->

<script src="{% static 'hooks/emp-entity-hooks.js' %}"></script>


</body>
